@media screen and (min-width: 800px) {
  #main-box {
    width: 60%;
    padding-top: 50px;
  }

  #profile-pic {
    width: 300px;
  }

  #title {
    font-size: 40px;
  }

  #summary {
    font-size: 20px;
  }

  #projects-div {
    display: flex;
    overflow-x: auto;
    height: 275px;
    margin: 30px auto 0 auto;
  }

  .project {
    margin: 0 10px;
    flex: 0 0 auto;
    width: 300px;
    height: 250px;
    border-radius: 3px;
  }

  .thumb {
    object-fit: scale-down;
  }

  .caption {

    font-size: 20px;
    margin: 0;
  }
}
